@import '_vars';

* {
  margin: 0;
  padding: 0;
  text-align: none;
  box-sizing: border-box;
}

body {
  margin-top: 157px;
  background: #eaeaea;
}

.center {
  padding-left: calc(50% - $widthTable /2);
  padding-right: calc(50% - $widthTable /2);
}

.box-tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;

  &__table {
    width: $widthTable;
    border-collapse: collapse;
    text-align: center;
  }

  &__head {
    border: 1px solid #ccd6ff;
    width: auto;
    height: 40px;
    background: #162aac;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    // padding-left: 17px;
    letter-spacing: -0.06em;
    color: #fff;
  }

  &__rows {
    border: 1px solid #ccd6ff;
    width: auto;
    height: 40px;
    font-weight: 600;
    // padding-left: 17px;
    background-color: #f3f6ff;
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.06em;
    color: #555;

    &_btn {
      border: none;
      width: 30px;
      padding-left: 17px;
    }

    &_every {
      background: #dee6ff;
      border: 1px solid #ccd6ff;
      width: 163px;
      height: 40px;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: -0.06em;
      color: #555;
    }

    &_modify {
      background: #fff;
      border: none;
      width: 25px;
      height: 25px;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background: #b7b7b7;

        &:hover svg path {
          fill: #fff;
        }

      }

    }
  }
}

.add_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 6px 30px;
  border-radius: 3px;
  width: 212px;
  height: 32px;
  background: #eaeaea;
  border: 1px solid #c1c1c1;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #636363;

  &:hover {
    cursor: pointer;
    background: #162aac;
    color: #fff;
  }

  &:hover svg path {
    fill: #fff;
  }
}